@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Init */
:root {
  /* Font */
  --main-font: "Poppins", sans-serif;

  --h1-font-size: 60px;
  --body-font-size: 18px;
  --button-font-size: 16px;
  --small-font-size: 14px;
  /* Color */
  --button-color: #2a4dd0;
  --process-color: #4ca154;
  --h1-color: #111729;
  --body-color: #223344;
  --small-color: #909193;
  --background-color: #f2f9fe;
  --card-color: #ffffff;

  /* Border */
  --border-radius: 20px;

  /* Image */
  --main-bg-image: url("./assets/bg-image.svg");
}

/* Set default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: inline;
}
